<div>
	<rb-input
		readonly
		icon-source="solid"
		label="${props.label}"
		icon-kind="caret-down"
		?right="${props.right}"
		?inline="${props.inline}"
		subtext="${props.subtext}"
		?disabled="${props.disabled}"
		validation="${props.validation}">
		${state.slots.popover
			? html`<slot name="popover"></slot>
			`: null
		}
	</rb-input>

	<ul class="menu">
		${props.data.map((value, i) => html`
			<li>
				${props.labelKey && typeof props.data[0] === 'object'
					? value[props.labelKey]
					: typeof value === 'object'
							? JSON.stringify(value)
							: value
				}
			</li>
		`)}
	</ul>
</div>

<link rel="stylesheet" href="../styles/rb-dropdown.css">
