/**********
 * OPTIONS
 **********/
.form-control {
	&.right {
		justify-content: flex-end;
		.dropdown {
			align-items: flex-end;
			justify-content: flex-end;
		}
		.sublabel {
			flex-direction: row-reverse;
		}
		.dropdown {
			margin-right: 0;
			margin-left: 6px;
		}
		&:not(.horizontal) {
			align-items: flex-end;
		}
	}

	/* labels
	 *********/
	&.horizontal:not(.right) {
		.sublabel:not(:last-child) {
			margin-right: 15px;
		}
	}
	&.right {
		.sublabel:not(:first-child) {
			margin-left: 15px;
		}
	}
}